<ul class="validation" [ngClass]="{'text-danger': passwordComplexityService.passwordComplexity === 'invalid', 'text-success': passwordComplexityService.passwordComplexity === 'strong'}">
    <li [ngClass]="{'text-danger': passwordComplexityService.passwordComplexity === 'easy', 'text-warning': passwordComplexityService.passwordComplexity === 'medium'}">Password is easy, your data is in danger</li>
    <li [ngClass]="{'text-warning': passwordComplexityService.passwordComplexity === 'medium'}">Password is medium</li>
    <li [ngClass]="{'text-muted' : passwordComplexityService.passwordComplexity === 'initial'}">Password is strong</li>
</ul>