.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding-top: 1rem; 
    padding-bottom: 1rem; 
    margin-top: 4rem; 
    border: 2.5px solid #333;
    border-radius: 15px;
    width: 380px;
    height: 290px;
}

.form {
    margin: 0 auto;
    width: 80%;
}

.heading {
    margin-bottom: 35px;
}