<div class="container">
    <h2 class="heading">Test your password strength</h2>
    <h1 class="icon" *ngIf="this.passwordComplexity === 'strong' && passwordForm.get('password')?.value.length >= 8"><i class="fa fa-lock"></i></h1>
    <h1 class="icon" *ngIf="this.passwordComplexity !== 'strong' || passwordForm.get('password')?.value.length < 8"><i class="fa fa-unlock"></i></h1>
    <form [formGroup]="passwordForm" class="form" autocomplete="off">
        <input
            type="{{this.showPassword === true ? 'text' : 'password'}}"
            formControlName="password"
            placeholder="Password"
            class="input"
        >
        <p (click)="toggleShowPassword()" *ngIf="!this.showPassword" class="btn-eye">
            <i class="fa fa-eye"></i>
        </p>
        <p (click)="toggleShowPassword()" *ngIf="this.showPassword" class="btn-eye">
            <i class="fa fa-eye-slash"></i>
        </p>
    </form>
    <ul class="validation" [ngClass]="{'text-danger': passwordForm.get('password')?.dirty && passwordForm.get('password')?.invalid && passwordForm.get('password')?.value.length > 0, 'text-success': this.passwordComplexity === 'strong' && passwordForm.get('password')?.value.length >= 8}">
        <li [ngClass]="{'text-danger': this.passwordComplexity === 'easy', 'text-warning': this.passwordComplexity === 'medium' && passwordForm.get('password')?.value.length >= 8}">Password is easy, your data is in danger</li>
        <li [ngClass]="{'text-warning': this.passwordComplexity === 'medium' && passwordForm.get('password')?.value.length >= 8}">Password is medium</li>
        <li [ngClass]="{'text-muted' : this.passwordComplexity === 'initial' && passwordForm.get('password')?.value.length >= 8}">Password is strong</li>
    </ul>
</div>