.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding-top: 1rem; 
    padding-bottom: 1rem; 
    margin-top: 4rem; 

    border: 2.5px solid #333;
    border-radius: 15px;
    width: 380px;
    height: 400px;
}

.form {
    display: flex;
    align-items: center;
    position: relative;
    width: 315px;
}

.input {
    display: block;
    width: 100%;
    padding: 9px 14px 9px 18px;
    border: 2px solid #333;
    border-radius: 12px;
    outline: none;
    font-family: "Fredoka", sans-serif;
    font-size: 18px;
}

.btn-eye {
    position: absolute;
    font-size: 21px;
    color: #333;
    cursor: pointer;

    right: 10px;
}

.validation {
    margin-top: 35px;
    list-style-type: none;
    color: rgb(147, 144, 144);
}

.heading {
    margin-bottom: 2px;
}

.icon {
    font-size: 55px;
}

.validation {
    font-size: 20px;
}

.text-danger {
    color: #e60000;
}

.text-warning {
    color: #ffa31a
}

.text-success {
    color: #00b33c;
}